/* Selektor som gjelder for hele siden. */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Grid og tilhørende ID-er for områdene. */
#sitewide {
    font-size: calc(0.8em + 0.8vw);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header-area" "main-area" "aside-area" "footer-area";
    place-items: center;
    width: 100%;
    max-width: 1600px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Roboto', sans-serif;
}
header {
    grid-area: header-area;
}
main {
    grid-area: main-area;
}
footer {
    grid-area: footer-area;
}
aside {
    grid-area: aside-area;
}

/*
#t video {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    opacity: 0.60;
}
*/

/* ID for CSS som omfatter header-en. */
#header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
}
#header-content nav {
    flex-basis: 70%;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
}
#header-content nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#header-content nav ul li {
    padding: 0 0;
}
#header-content nav ul li a {
    text-decoration: none;
    color: #000;
}
#header-content figure {
    flex-basis: 30%;
    margin: 0 auto;
    margin-top: 1.5rem;
    text-align: center;
}
#header-content section {
    flex-basis: 100%;
}
#header-content a {
    text-decoration: none;
}
#header-image {
    text-align: center;
    width: 100vw;
    height: 40vh;
    position: relative;
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
    display: flex;
    align-items: center;
}
#header-image:before {
    content: "";
    position: absolute;
    /* Bilde fra https://pixabay.com/no/photos/penn-notisbok-notisblokk-dagbok-4337521/ av rupixen */
    background-image: url("../img/pen-4337521_1280.jpg");
    background-size: cover;
    opacity: 0.60;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right:auto;
    height: 40vh;
}
#header-image article {
    text-align: center;
    position: absolute;
    vertical-align: middle;
    top: auto;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

#main-content__about {
    background-color: #e6bd43;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}
#main-content__about img {
    width: 80%;
    height: auto;
    padding: 0;
}
#main-content__about figure {
    flex-basis: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
}
#main-content__about article {
    flex-basis: 100%;
    margin: 0 auto;
    padding-right: 7rem;
    padding-left: 7rem;
    padding-bottom: 4rem;
}
#main-content__about a > p {
    padding: 1.5rem;
    border: 3.5px solid #000;
    width: fit-content;
    font-weight: bold;
}
#main-content__subheading {
    text-align: center;
    padding: 1.5rem 2rem;
    margin: 0.5rem 3rem;
}

#main__contact-us {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    margin-top: 3rem;
    background-color: #F4F4F4;
}
#main__contact-us form, #main__contact-us article {
    padding: 3rem;
    padding-left: 3rem;
}
#main__contact-us h2 {
    flex-basis: 100%;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
#main__contact-us form, #main__contact-us article {
    flex-basis: 100%;
    margin: 0 auto;
    padding-bottom: 0;
}
#main__contact-us form {
    display: inline-block;
}
#input__name, #input__subject, #input__message {
    border: 0;
    width: 100%;
    padding: 1rem;
}
#input__name, #input__subject {
    height: 100%;
}
#input__message {
    height: 50vw;
    max-height: 300px
}
#main__contact-us article {
    margin-bottom: 2rem;
}
#main__contact-us iframe {
    flex-basis: 100%;
    display: inline-block;
    margin: 0 auto;
    width: 100vw;
    height: 25vh;
    border: 0;
}
#main__contact-us-submit {
    all: unset;
    display: inline-block;
    background-color: #e6bd43;
    color: #000;
    font-weight: bold;
    padding: 1rem;
    width: fit-content;
    margin: auto;
    margin-top: 0.5rem;
}

#main__clients {
    text-align: center;
    background-color: #e6bd43;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding: 2.5rem 0;
    padding-top: 4rem;
}
#main__clients h2 {
    text-align: center;
    flex-basis: 100%;
    margin: 0 auto;
    padding-bottom: 2rem;
}
#main__clients figure {
    flex-basis: 50%;
    padding: 1rem;
    margin: 0 auto;
}
#main__clients img {
    width: 80%;
    height: auto;
}

#footer_icons {
    text-align: center;
    margin-top: 3.5rem;
}
#footer_icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
}
#footer_icons article {
    padding: 1.5rem;
}
#footer_icons h2 {
    flex-basis: 100%;
    margin: 0 auto;
    margin-bottom: 2.5rem;
}
#footer_icons h3 {
    margin: 1.5rem;
}
#footer_icons article {
    flex-basis: 100%;
    margin: 0 auto;
}
#footer_icons i {
    font-size: 2rem;
}
.footer_icons-margin {
    margin-right: 3rem;
    margin-left: 3rem;
}

#footer__newsletter {
    background-color: #ECECEC;
    text-align: center;
    padding: 1.2rem;
    padding-bottom: 3rem;
    padding-top: 3.4rem;
    width: 100vw;
}
#footer__newsletter input {
    display: inline-block;
    padding: 1rem 0.8rem;
    font-size: 1rem;
}
#footer__newsletter-text {
    border: none;
}
#footer__newsletter-submit {
    all: unset;
    background-color: #e6bd43;
    color: #000;
    font-weight: bold;
    padding: 1rem;
    width: fit-content;
    margin: auto;
}

#footer-content nav {
    padding-top: 3.5rem;
    padding-bottom: 2rem;
}
#footer-content nav, #footer-content figure {
    background-color: #252525;
    width: 100vw;
    text-align: center;
}
#footer-content p, #footer-content i {
    color: #fff;
}
#footer-content i {
    font-size: 2.3rem;
}
#footer-content nav ul {
    list-style-type: none;
    padding: 0;
}
#footer-content nav ul li {
    display: inline;
    margin: 0 1rem;
}
#footer-content img {
    width: 25%;
    height: auto;
}

/* Generelle klasser som gjelder "luft". */
.spacing1 {
    padding: 1rem;
}
.air2dot5 {
    margin: 2.5rem
}
.air3 {
    margin: 3rem
}
.air4 {
    margin: 4rem
}
.air4-nt {
    margin: 4rem;
    margin-top: 0;
}

/* Generelle klasser som gjelder styling av tekster. */
.text-selected-gold {
    text-decoration: underline;
    text-decoration-color: #e6bd43;
    color: #000;
    text-decoration-thickness: 0.2rem;
    font-weight: bold;
}
.text-button-gold {
    background-color: #e6bd43;
    color: #000;
    font-weight: bold;
    padding: 1rem;
    width: fit-content;
    margin: auto;
}
.text-button-gold:hover {
    background-color: #252525;
    color: #e6bd43;
}
.text-button-black-border {
    border: 3.5px solid #000;
}
.text-styling-bold {
    font-weight: bold;
    color: black;
}
.text-styling-margin-1r {
    margin-right: 1rem;
    margin-left: 1rem;
}
.text-styling-margin-2r {
    margin-right: 2rem;
    margin-left: 2rem;
}
.text-styling-margin-3r {
    margin-right: 3rem;
    margin-left: 3rem;
}

/* Generelle klasser som gjelder block elementer. */
.block-styling-gold {
    background-color: #e6bd43;
}

/* Generelle klasser som gjelder bilder og responsivitet. */
.resp-img-w70 {
    width: 70%;
    height: auto;
}
.resp-img-w80 {
    width: 80%;
    height: auto;
}

/* Alle media queries. */

/*@media only screen and (min-width: 650px) {
}*/

#aside-icon {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #252525;
    padding: 1.3rem;
    padding-right: 1.1rem;
    padding-left: 1.1rem;
    border-radius: 0.5rem;
}
#aside-icon i {
    color: #fff;
    font-size: 2rem;
}

@media only screen and (min-width: 1000px) {
    #header-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;
        position: relative;
    }
    #header-content nav {
        text-align: right;
    }
    #header-content nav ul {
        position: absolute; top: 2.5rem; right: 1rem;
    }
    #header-content nav ul li {
        display: inline-block;
        width: auto;
        padding: 0 0.5rem;
    }
    #header-content figure {
        text-align: initial;
    }
    #header-content figure img {
        width: 35%;
        height: auto;
        padding: 0 0.5rem;
    }

    #header-image {
        margin-top: 0rem;
        margin-bottom: 0rem;
        height: 55vh;
    }
    #header-image:before {
        height: 55vh;
    }
    #header-image article {
        padding: 0 10vw;
    }

    #footer_icons {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;
        position: relative;
        margin-right: 7rem;
        margin-left: 7rem;
    }
    #footer_icons h2 {
        flex-basis: 100%;
        margin: 0 auto;
    }
    #footer_icons h3 {
        margin: 1.5rem;
    }
    #footer_icons article {
        flex-basis: 20%;
        margin: 0 auto;
    }
    .footer_icons-margin {
        margin: 0;
    }

    #main-content__subheading {
        padding: 2.5rem 5rem;
        margin: 5rem 5rem;
    }
    #input__message {
        max-height: 250px
    }
    
    #main-content__about {
        padding: 0;
    }

   
    #main-content__about figure {
        flex-basis: 40%;
        padding: 3rem;
    }
    #main-content__about img {
        width: 100%;
    }
    #main-content__about article {
        flex-basis: 60%;
        padding: 3rem 3.5rem 3.5rem 0;
    }

    
    #main-content__about {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 5rem;
    }
    #main__contact-us form, #main__contact-us article {
        flex-basis: 49%;
        margin: 0 auto;
        padding-bottom: 0;
        gap: 0;
    }
    #input__message {
        height: 15vw;
    }
    #main__contact-us-submit {
        margin-bottom: 1rem;
    }


    #footer-content nav {
        display: flex;
        direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 5.5rem;
        padding-bottom: 5rem;
    }
    #footer-content img {
        width: 80%;
        height: auto;
    }
    #footer-content p {
        text-align: center;
    }
    #footer-content ul {
        text-align: center;
        margin-right: 1.5rem;
    }

    #main__clients {
        text-align: center;
        display: block;
        padding: 4.5rem;
        padding-top: 6.5rem;
        margin-top: 2.5rem;
    }
    #main__clients h2 {
        margin-bottom: 4rem;
    }
    #main__clients figure {
        display: inline;
        padding: 0 1.5rem;
    }
    #main__clients img {
        width: 10%;
    }
}
@media only screen and (min-width: 1300px) {
    #main-content__about article {
        padding: 6.5rem 3.5rem 3.5rem 0;
    }
}

@media only screen and (min-width: 1600px) {

}

/* Kode hentet fra: https://stackoverflow.com/a/55867559 */
@media (hover: hover), (-ms-high-contrast:none) {
}